{% extends 'tools/template.html' %}

{% block title %}
 Image Embossing
{% endblock title %}

{% block styles %}
{% endblock styles %}



{% block output_title %}
  
{% endblock output_title %}

{% block output_subtitle %}
  
{% endblock output_subtitle %}

{% block section_title %}
 Image Embossing
{% endblock section_title %}

{% block section_para %}
  Enter 3x3 embossing kernel
{% endblock section_para %}

{% block notes %}
  

{% endblock notes %}

{% block additional_form %}


<div class="flex flex-col">


<label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Operation</label>
  <select id="countries" onchange="changeMat(this)"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-8">
    <option value="0" selected>Custom Mask</option>
    <option value="1">0 degree Mask</option>
    <option value="2">45 degree Mask</option>
    <option value="3">90 degree Mask</option>
    <option value="4">135 degree Mask</option>
  </select>

<div class="grid grid-cols-3 gap-4">
  <div>
    <input type="text" inputmode="numeric" id="mat0" name="mat00" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" required placeholder="Enter Value">
  </div>
  <div>
    <input type="text" inputmode="numeric" id="mat1" name="mat01" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" required placeholder="Enter Value">
  </div>
  <div>
    <input type="text" inputmode="numeric" id="mat2" name="mat02" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" required placeholder="Enter Value">
  </div>
  <div>
    <input type="text" inputmode="numeric" id="mat3" name="mat10" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" required placeholder="Enter Value">
  </div>
  <div>
    <input type="text" inputmode="numeric" id="mat4" name="mat11" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" required placeholder="Enter Value">
  </div>
  <div>
    <input type="text" inputmode="numeric" id="mat5" name="mat12" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" required placeholder="Enter Value">
  </div>
  <div>
    <input type="text" inputmode="numeric" id="mat6" name="mat20" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" required placeholder="Enter Value">
  </div>
  <div>
    <input type="text" inputmode="numeric" id="mat7" name="mat21" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" required placeholder="Enter Value">
  </div>
  <div>
    <input type="text" inputmode="numeric" id="mat8" name="mat22" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="" required placeholder="Enter Value">
  </div>
</div>

</div>

{% endblock additional_form %}

{% block script %}
<script>
  const mat = [
    [, , , , , , , , ],
    [0, 0, 0, 1, 0, -1, 0, 0, 0],
    [0, 0, -1, 0, 0, 0, 1, 0, 0], 
    [0, -1, 0, 0, 0, 0, 0, 1, 0],
    [-1, 0, 0, 0, 0, 0, 0, 0, 1],
  ]
  const input = []
  for(let i = 0; i < 9; i++){
    input[i] = document.getElementById(`mat${i}`);
  }

  console.log(input);

  function changeMat(e){
    let n = parseInt(e.value);
    if(n == 0){
      input.forEach((e, i) => {
      e.value = "";
      })
      return;
    }
    setMat(mat[n]);
  }

  function setMat(m){
    input.forEach((e, i) => {
      e.value = m[i];
    })
  }

</script>
{% endblock script %}