{% extends 'tools/template.html' %}

{% block title %}
  Image Encryption Tool
{% endblock title %}


{% block output_title %}
  Here is your Encrypted/Decrypted Image
{% endblock output_title %}

{% block output_subtitle %}
  
{% endblock output_subtitle %}

{% block section_title %}
  Image Encryption Tool
{% endblock section_title %}

{% block section_para %}
  Encrypt & Decrypt Image using Key
{% endblock section_para %}

{% block notes %}
  
<div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">Note:</span>
      <ul class="mt-1.5 ml-4 list-disc list-inside">
        <li>Key must be same for getting Original Image from Decryption</li>
        <li>Since DNA Encoing Process is time consuming, please wait while encrypting and decrypting</li>
        <li class="text-md">For large Images, it takes 2 to 5 minutes to encrypt & decrypt.</li>
    </ul>
  </div>
</div>

{% endblock notes %}

{% block img_size %}
  ( Image size : 0 - 1 MB)
{% endblock img_size %}

{% block additional_form %}
<div class="mb-6">
  <label for="key" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Key</label>
  <input type="text" id="key" name="key"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    required autocomplete="off">
</div>

<ul class="grid w-full gap-6 md:grid-cols-2">
    <li>
        <input type="radio" id="encrypt" name="encrypt" value="1" class="hidden peer" required checked>
        <label for="encrypt" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
            <div class="block">
                <div class="w-full text-lg font-semibold">Encrypt</div>
            </div>
        </label>
    </li>
    <li>
        <input type="radio" id="decrypt" name="encrypt" class="hidden peer" value="0" required>
        <label for="decrypt" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
            <div class="block">
                <div class="w-full text-lg font-semibold">Decrypt</div>
            </div>
        </label>
    </li>
</ul>

{% endblock additional_form %}


{% block script %}
  <script>
    function getData(modal){
      key = document.getElementById("key")
      if(key.value == ""){
        modal.click();
        return -1;
      }
      let a;
      en = document.getElementsByName("encrypt")
      if(en[0].checked == true){
        a = 1
      }else{
        a = 0
      }

      let data = {
        "key" : key.value,
        "encrypt" : a,
        "url": "encryption"
      }

      return data;
    }
  </script>
{% endblock script %}