
{% extends 'tools/template.html' %}

{% block title %}
  Gaussian Filter
{% endblock title %}

{% block styles %}
{% endblock styles %}


{% block output_title %}
  Your Filtered Image
{% endblock output_title %}

{% block output_subtitle %}
  
{% endblock output_subtitle %}

{% block section_title %}
Gaussian Filter
{% endblock section_title %}

{% block section_para %}
  
{% endblock section_para %}

{% block notes %}
  

{% endblock notes %}

{% block additional_form %}
<label for="radius" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter Radius of Gaussian Filter</label>
<input type="number" id="radius" min="1" max="10" step="1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1 - 10" required name="radius">

{% endblock additional_form %}

{% block img_size %}

{% endblock img_size %}

{% block script %}
 
{% endblock script %}