
{% extends 'tools/template.html' %}

{% block title %}
  Histogram Equalization
{% endblock title %}

{% block styles %}
{% endblock styles %}


{% block output_title %}
  Your Output Image
{% endblock output_title %}

{% block output_subtitle %}
  
{% endblock output_subtitle %}

{% block section_title %}
Histogram Equalization
{% endblock section_title %}

{% block section_para %}
  
{% endblock section_para %}

{% block notes %}
  

{% endblock notes %}

{% block additional_form %}

{% endblock additional_form %}

{% block img_size %}

{% endblock img_size %}

{% block script %}
 
{% endblock script %}