
{% extends 'tools/template.html' %}

{% block title %}
  Image Negative Transformation Tool
{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block alert %}
  
{% endblock alert %}

{% block output_title %}
  Your Negative Image
{% endblock output_title %}

{% block output_subtitle %}
  
{% endblock output_subtitle %}

{% block section_title %}
Image Negative Transformation Tool
{% endblock section_title %}

{% block section_para %}
  
{% endblock section_para %}

{% block notes %}
  

{% endblock notes %}

{% block additional_form %}

{% endblock additional_form %}

{% block img_size %}

{% endblock img_size %}

{% block script %}
 
{% endblock script %}