{% extends 'tools/template.html' %}

{% block title %}
  Translate Image
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block alert %}

{% endblock alert %}

{% block output_title %}
  Here is your Rotated Image
{% endblock output_title %}

{% block output_subtitle %}
  
{% endblock output_subtitle %}

{% block section_title %}
 Rotate Image
{% endblock section_title %}

{% block section_para %}
  Rotate Image with given degree with given center and with given scaling factor
{% endblock section_para %}

{% block notes %}
  
<!-- <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">Note:</span>
      <ul class="mt-1.5 ml-4 list-disc list-inside">
        <li>Key must be same for getting Original Image from Decryption</li>
        <li>Since DNA Encoing Process is time consuming, please wait while encrypting and decrypting</li>
    </ul>
  </div>
</div> -->

{% endblock notes %}

{% block additional_form %}

<div>
  <label for="x" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Translate in x deirection</label>
  <input type="number" id="x" min="0" max="5000" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0 - 5000px" required name="x">
</div>
<div>
  <label for="y" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Translate in y deirection</label>
  <input type="number" id="y" min="0" max="5000" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0 - 5000px" required name="y">
</div>
<label for="deg" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rotate Image by <span id="deg_value">90.0</span> degrees</label>
<input id="deg" type="range" min="0" max="360" step="0.1" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" onchange="changeHanderdeg(this)" oninput="changeHanderdeg(this)" value="90" name="deg">

<label for="scale" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Scale Image by <span id="scale_value">1.0</span></label>
<input id="scale" type="range" min="0" max="10" step="0.1" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" onchange="changeHanderscale(this)" oninput="changeHanderscale(this)" value="1" name="scale">


{% endblock additional_form %}

{% block script %}
  <script>
    function changeHanderdeg(e){
      ele = document.getElementById("deg_value").innerText = e.value;
    }
    function changeHanderscale(e){
      ele = document.getElementById("scale_value").innerText = e.value;
    }
  </script>
{% endblock script %}