{% extends 'tools/template.html' %}

{% block title %}
  Translate Image
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block alert %}

{% endblock alert %}

{% block output_title %}
  Here is your Rotated Image
{% endblock output_title %}

{% block output_subtitle %}
  
{% endblock output_subtitle %}

{% block section_title %}
 Rotate Image
{% endblock section_title %}

{% block section_para %}
  Rotate Image with given degree with given center and with given scaling factor
{% endblock section_para %}

{% block notes %}
  
{% endblock notes %}

{% block additional_form %}

<div>
  <label for="x" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Center of Rotation x-cordinate</label>
  <input type="number" id="x" min="0" max="5000" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0 - 5000px" required name="x">
</div>
<div>
  <label for="y" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Center of Rotation y-cordinate</label>
  <input type="number" id="y" min="0" max="5000" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0 - 5000px" required name="y">
</div>
<label for="deg" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rotate Image by <span id="deg_value">90.0</span> degrees</label>
<input id="deg" type="range" min="0" max="360" step="0.1" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" onchange="changeHanderdeg(this)" oninput="changeHanderdeg(this)" value="90" name="deg">

<label for="scale" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Scale Image by <span id="scale_value">1.0</span></label>
<input id="scale" type="range" min="0" max="10" step="0.1" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" onchange="changeHanderscale(this)" oninput="changeHanderscale(this)" value="1" name="scale">


{% endblock additional_form %}

{% block script %}
  <script>
    function changeHanderdeg(e){
      ele = document.getElementById("deg_value").innerText = e.value;
    }
    function changeHanderscale(e){
      ele = document.getElementById("scale_value").innerText = e.value;
    }
  </script>
{% endblock script %}