{% extends 'tools/template.html' %}

{% block title %}
  Translate Image
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block alert %}

{% endblock alert %}

{% block output_title %}
  Here is your Rotated Image
{% endblock output_title %}

{% block output_subtitle %}
  
{% endblock output_subtitle %}

{% block section_title %}
 Rotate Image
{% endblock section_title %}

{% block section_para %}
  Rotate Image with given degree with given center and with given scaling factor
{% endblock section_para %}

{% block notes %}

{% endblock notes %}

{% block additional_form %}


<label for="deg" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rotate Image by <span id="deg_value">90.0</span> degrees ( Anti Clockwise )</label>
<input id="deg" type="range" min="0" max="360" step="0.1" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" onchange="changeHanderdeg(this)" oninput="changeHanderdeg(this)" value="90" name="deg">

<label for="scale" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Scale Image by <span id="scale_value">1.0</span></label>
<input id="scale" type="range" min="0" max="10" step="0.1" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" onchange="changeHanderscale(this)" oninput="changeHanderscale(this)" value="1" name="scale">


{% endblock additional_form %}

{% block script %}
  <script>
    function changeHanderdeg(e){
      ele = document.getElementById("deg_value").innerText = e.value;
    }
    function changeHanderscale(e){
      ele = document.getElementById("scale_value").innerText = e.value;
    }
  </script>
{% endblock script %}