
{% extends 'tools/template.html' %}

{% block title %}
  Image Scale
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block alert %}
  
{% endblock alert %}

{% block output_title %}
  
{% endblock output_title %}

{% block output_subtitle %}
  
{% endblock output_subtitle %}

{% block section_title %}
  Image Scaling Tool
{% endblock section_title %}

{% block section_para %}
  
{% endblock section_para %}

{% block notes %}
<div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">Note:</span>
      <ul class="mt-1.5 ml-4 list-disc list-inside">
        <li>If the final image is very large, it takes much amount of time to load or can't be load</li>
    </ul>
  </div>
</div>

{% endblock notes %}

{% block additional_form %}

<label for="fx" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Scale Image in X by <span id="fx_value">5.00</span></label>
<input id="fx" type="range" min="0.01" max="10" step="0.01" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" onchange="changeHanderx(this)" oninput="changeHanderx(this)" value="5" name="fx">

<label for="fy" class="block my-2 text-sm font-medium text-gray-900 dark:text-white">Scale Image in Y by <span id="fy_value">5.00</span></label>
<input id="fy" type="range" min="0.01" max="10" step="0.01" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" onchange="changeHandery(this)" oninput="changeHandery(this)" value="5" name="fy">


{% endblock additional_form %}

{% block img_size %}
  ( 0 - 500 kb )
{% endblock img_size %}

{% block script %}
  <script>
    function changeHanderx(e){
      ele = document.getElementById("fx_value").innerText = e.value;
    }
    function changeHandery(e){
      ele = document.getElementById("fy_value").innerText = e.value;
    }
  </script>
{% endblock script %}