
{% extends 'tools/template.html' %}

{% block title %}
  Image Shearing
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block alert %}
  
{% endblock alert %}

{% block output_title %}
  
{% endblock output_title %}

{% block output_subtitle %}
  
{% endblock output_subtitle %}

{% block section_title %}
Image Shearing Tool
{% endblock section_title %}

{% block section_para %}
  
{% endblock section_para %}

{% block notes %}
  

{% endblock notes %}

{% block additional_form %}

<label for="sx" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">X - Shearing by <span id="sx_value">0.50</span></label>
<input id="sx" type="range" min="0" max="1" step="0.01" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" onchange="changeHanderx(this)" oninput="changeHanderx(this)" value="0.50" name="sx">

<label for="sy" class="block my-2 text-sm font-medium text-gray-900 dark:text-white">Y - Shearing by <span id="sy_value">0.50</span></label>
<input id="sy" type="range" min="0" max="1" step="0.01" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" onchange="changeHandery(this)" oninput="changeHandery(this)" value="0.50" name="sy">


{% endblock additional_form %}

{% block img_size %}
  ( 0 - 500 kb )
{% endblock img_size %}

{% block script %}
  <script>
    function changeHanderx(e){
      ele = document.getElementById("sx_value").innerText = e.value;
    }
    function changeHandery(e){
      ele = document.getElementById("sy_value").innerText = e.value;
    }
  </script>
{% endblock script %}