{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block style %}
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  @media (max-width: 768px) {
    .form_width {
      max-width: 20rem;
      margin: auto;
    }

    .btn_width {
      max-width: fit-content;
    }
  }

  .lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #111827;
  border-color: #111827 transparent #111827 transparent;
  animation: lds-hourglass 1.2s infinite;
}

.dark\:lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.dark\:lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
</style>
{% endblock style %}

{% block styles %}

{% endblock styles %}

{% block body %}


<div id="alert-4"
  class="big_size hidden flex p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-300"
  role="alert">
  <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
      clip-rule="evenodd"></path>
  </svg>
  <span class="sr-only">Info</span>
  <div class="ml-3 text-sm font-medium">
    Image size exceeded.
  </div>
  <button type="button"
    class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-yellow-400 p-1.5 hover:bg-yellow-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-yellow-300 dark:hover:bg-gray-700"
    data-dismiss-target="#alert-4" aria-label="Close">
    <span class="sr-only">Close</span>
    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"></path>
    </svg>
  </button>
</div>

<div id="alert-5"
  class="validData hidden flex p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-300"
  role="alert">
  <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
      clip-rule="evenodd"></path>
  </svg>
  <span class="sr-only">Info</span>
  <div class="ml-3 text-sm font-medium">
    Please Enter Some Valid Data.
  </div>
  <button type="button"
    class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-yellow-400 p-1.5 hover:bg-yellow-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-yellow-300 dark:hover:bg-gray-700"
    data-dismiss-target="#alert-5" aria-label="Close">
    <span class="sr-only">Close</span>
    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"></path>
    </svg>
  </button>
</div>


<div class="hidden outputt_textf" id="alert-3">
  <div class="hidden flex p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-300"
    role="alert">
    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
        clip-rule="evenodd"></path>
    </svg>
    <span class="sr-only">Info</span>
    <div class="ml-3 text-sm font-medium">
      Your Image is Ready. Downaload Image now.
    </div>
    <button type="button"
      class="ml-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-yellow-300 dark:hover:bg-gray-700"
      data-dismiss-target="#alert-3" aria-label="Close">
      <span class="sr-only">Close</span>
      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>


  <section id="outputt" class="hidden bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <h2 class="text-4xl font-extrabold dark:text-white mb-3">{% block output_title %}

        {% endblock output_title %}</h2>
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">{% block
        output_subtitle %}

        {% endblock output_subtitle %}</p>
    </div>


    <div id="textf" class="hidden grid grid-cols-1 md:grid-cols-2 gap-4 mx-auto mb-5">
      <div class="mx-auto">

        <figure class="max-w-lg">
          <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" alt="image description" id="original_img">
          <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Original Image</figcaption>
        </figure>

      </div>
      <div class="mx-auto">
        <figure class="max-w-lg">
          <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" alt="image description" id="output_img">
          <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Final Image</figcaption>
        </figure>
      </div>



    </div>

    <div class="flex justify-center my-4">
      <a id="output_btn"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Download
        Final Image</a>
    </div>



    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
  </section>

</div>


<div id="alert-6"
  class="textt hidden flex p-4 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
  role="alert">
  <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
      clip-rule="evenodd"></path>
  </svg>
  <span class="sr-only">Info</span>
  <div class="ml-3 text-sm font-medium" id="msg">

  </div>
  <button type="button"
    class="ml-auto -mx-1.5 -my-1.5 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 p-1.5 hover:bg-yellow-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-yellow-300 dark:hover:bg-gray-700"
    data-dismiss-target="#alert-6" aria-label="Close">
    <span class="sr-only">Close</span>
    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"></path>
    </svg>
  </button>
</div>


<div id="msgdecoded" class="hidden max-w-xl mx-auto p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 md:pt-16 flex flex-col items-center">
  <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Your Secret Message</h5>
  <textarea class="mb-5 text-gray-500 sm:text-lg dark:text-gray-400 text-center overflow-y-scroll" id="secret" rows="6" cols="30" readonly style="resize: none; height: 25vh; width: 35vw;"></textarea>

</div>


<section class="bg-white dark:bg-gray-900" style="min-height: 67%;">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
    <h2 class="text-4xl font-extrabold dark:text-white mb-3">{% block section_title %}

      {% endblock section_title %}</h2>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">{% block
      section_para %}

      {% endblock section_para %}</p>


  </div>

  <div class="mb-3 max-w-lg mx-auto">
    <form action="" method="POST" enctype=multipart/form-data autocomplete="off" class="form_width">
      {% block notes %}

      {% endblock notes %}
      <div class="mb-6">

        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file">Upload file</label>
        <input
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          aria-describedby="file_input_help" id="file" type="file" required name="file">
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">PNG, JPG, JPEG, WEBP {% block
          img_size %}
          ( 0 - 50 Mb )
          {% endblock img_size %}</p>

      </div>

      {% block additional_form %}

      {% endblock additional_form %}

      <button
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-3 inline-flex items-center btn_width"
        type="submit">
        <svg aria-hidden="true" id="loader" role="status" class="hidden inline w-4 h-4 mr-3 text-white animate-spin"
          viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="#E5E7EB" />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentColor" />
        </svg>Submit</button>
    </form>
  </div>

<button data-modal-target="staticModal" data-modal-toggle="staticModal" class="hidden block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" id="modal">
  Toggle modal
</button>

<div id="staticModal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden max-w-lg mx-auto p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 flex flex-row">
            
            <div class="p-6 space-y-6">
              <div class="{{ 'dark:lds-hourglass' if session.get('theme') == 'dark' else 'lds-hourglass'}}"></div>
            </div>
            <div class="flex w-full items-center flex-col justify-center">
              <h5 class="text-xl font-bold dark:text-white"> Please Wait </h5>
              <p class="mb-3 text-gray-500 dark:text-gray-400">Your Image is under process</p>
            </div>
        </div>
    </div>
</div>

</section>

{% endblock body %}


{% block scripts %}

<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', handleSubmit);



  async function handleSubmit(event) {
    event.preventDefault();
    modal = document.getElementById("modal"); 
    modal.click();
    /** @type {HTMLFormElement} */
    const form = event.currentTarget;
    const url = new URL(form.action);
    const formData = new FormData(form);
    const searchParams = new URLSearchParams(formData);

    /** @type {Parameters<fetch>[1]} */
    const fetchOptions = {
      "method": form.method,
      "body": formData
    };
    console.log(formData);
    console.log(fetchOptions);
    try {
      const res = await fetch(url, fetchOptions);
      const data = await res.json()
      console.log(data);
      showData(data);
      document.querySelector('nav').scrollIntoView();
    }
    catch (e) {
      console.log(e);
    }

    modal.click();
    form.reset();
  }

  function showData(data) {
    const big_size = document.getElementsByClassName("big_size")[0];
    const outputt_textf = document.getElementsByClassName("outputt_textf")[0];
    const validData = document.getElementsByClassName("validData")[0];
    const outputt = document.getElementById("outputt");
    const textf = document.getElementById("textf");
    const textt = document.getElementsByClassName("textt")[0];
    const msgdecoded = document.getElementById("msgdecoded");
    const original_img = document.getElementById("original_img");
    const output_img = document.getElementById("output_img");
    const output_btn = document.getElementById("output_btn");
    const msg = document.getElementById("msg");
    const secret = document.getElementById("secret");

    if (data.big_size == true) {
      big_size.classList.remove("hidden");
    }else{
      big_size.classList.add("hidden");
    }
    if (data.output == true && data.text == false) {
      outputt_textf.classList.remove("hidden");
    }else{
      outputt_textf.classList.add("hidden");
    }
    if (data.output == true) {
      outputt.classList.remove("hidden");
      original_img.setAttribute("src", `/static/uploads/${data.original_img}`);
      output_img.setAttribute("src", `/static/downloads/${data.output_img}`);
      output_btn.setAttribute("href", `/downloads/${data.output_img}`)
    }else{
      outputt.classList.add("hidden");
    }
    if (data.text == false) {
      textf.classList.remove("hidden");
    }else{
      textf.classList.add("hidden");
    }
    if (data.text == true) {
      textt.classList.remove("hidden");
    }else{
      textt.classList.add("hidden");
    }
    if (data.msg) {
      msg.innerText = data.msg;
    }
    if (data.msg && data.msg == "Decoded Text is Here") {
      msgdecoded.classList.remove("hidden");
    }else{
      msgdecoded.classList.add("hidden");
    }
    if (data.secret) {
      secret.value = data.secret;
    }
    if(data.validData == true){
      validData.classList.remove("hidden");
    }else{
      validData.classList.add("hidden");
    }
  }

</script>

{% block script %}
  
{% endblock script %}

{% endblock scripts %}


