{% extends 'tools/template.html' %}

{% block title %}
  Translate Image
{% endblock title %}

{% block styles %}
<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
</style>
{% endblock styles %}

{% block alert %}

{% endblock alert %}

{% block output_title %}
  Here is your Translated Image
{% endblock output_title %}

{% block output_subtitle %}
  
{% endblock output_subtitle %}

{% block section_title %}
 Translate Image
{% endblock section_title %}

{% block section_para %}
  Translate Image into x & y
{% endblock section_para %}

{% block notes %}
  
<!-- <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">Note:</span>
      <ul class="mt-1.5 ml-4 list-disc list-inside">
        <li>Key must be same for getting Original Image from Decryption</li>
        <li>Since DNA Encoing Process is time consuming, please wait while encrypting and decrypting</li>
    </ul>
  </div>
</div> -->

{% endblock notes %}

{% block additional_form %}

<div>
  <label for="tx" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Translate in x deirection</label>
  <input type="number" id="tx" min="0" max="5000" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0 - 5000px" required name="tx">
</div>
<div>
  <label for="ty" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Translate in y deirection</label>
  <input type="number" id="ty" min="0" max="5000" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0 - 5000px" required name="ty">
</div>


{% endblock additional_form %}