{% extends 'learn/template.html' %}

{% block title %}
Image Enhancement
{% endblock title %}

{% block content %}

<section class="bg-white dark:bg-gray-900">
  <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-6">

    <h2 class="text-4xl font-extrabold dark:text-white"> Image Enhancement</h2>


    <p class="my-3 text-gray-500 dark:text-gray-400 mb-8">
      Image enhancement is a process of improving appearance of digital image and making image
      suitable for further analysis . For example improving contrast and brightness ,removing noise ,sharpening images
      etc..
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      Image enhancement can be done in two domain :
    <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
      <li>
        Spatial Domain
      </li>
      <li>
        Frequency Domain
      </li>
    </ol>
    </p>
    <h3 class="text-3xl font-bold dark:text-white mt-8" id="spacial_domain">Spatial Domain</h3>

    <p class="my-3 text-gray-500 dark:text-gray-400 mb-8">
      In this domain we directly work with original images .We do some operations on pixels directly.
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      Spatial domain process is defined by
    </p>
    <p class="my-3 text-gray-900 dark:text-white text-center dark:text-white">
      g ( x, y ) = T [ f ( x, y) ]
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      here, f is input image and g is output image.
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400"> operator T is defined over a neighborhood of point (x,y) of image
      f. neighborhood size can be
      1x1 , 3x3 ,5x5 etc. . .
    </p>

    <h4 class="text-2xl font-bold dark:text-white mt-5" id="intensity_transformation">Intensity Transformation</h4>

    <p class="my-3 text-gray-500 dark:text-gray-400">
      When neighborhood size is 1x1 then operation is called intensity transformation or point processing as output of
      function is dependent only on that pixel.
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      here are some example of intensity transformation
    <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
      <li>
        image negative
      </li>
      <li>
        log transformation
      </li>
      <li>
        power law transformation /gamma transformation
      </li>
      <li>
        piece wise linear transformation
      </li>
    </ol>
    </p>

    <h5 class="text-xl font-bold dark:text-white mt-8">1. Image Negative : </h5>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      Operation for this is : <span class="dark:text-white text-gray-900"> T (r) = (L - 1) - r </span>
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      where L = 2<sup>bits per pixel</sup>
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      Example :
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      Let suppose we have an RGB color image which has 24 bits per pixel value . 8 bit per pixel for
      each channel then we will subtract all channel intensity from 255 to get negative .
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      It is obvious that S will have three component S<sub>R</sub> , S<sub>G</sub> , S<sub>B</sub> same with R.
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      Where T operator performs following task :
    </p>
    <div class="center dark:bg-gray-900 dark:text-white text-center">
      <p><span class="math inline"><em>S</em><sub><em>R</em></sub></span> =
      (<span class="math inline"><em>L</em><sub><em>R</em></sub></span> - 1 ) -
      <span class="math inline"><em>R</em><sub><em>R</em></sub></span><br />
      <span class="math inline"><em>S</em><sub><em>G</em></sub></span> =
      (<span class="math inline"><em>L</em><sub><em>G</em></sub></span> - 1 ) -
      <span class="math inline"><em>R</em><sub><em>G</em></sub></span><br />
      <span class="math inline"><em>S</em><sub><em>B</em></sub></span> =
      (<span class="math inline"><em>L</em><sub><em>B</em></sub></span> - 1 ) -
      <span class="math inline"><em>R</em><sub><em>B</em></sub></span><br />
      </p>
      </div>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      Sx = intensity of channel x in image S.
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">

      Lx = bits per pixel value for channel x.
    </p>

    <figure class="max-w-lg mx-auto flex flex-row gap-4">
      <div>
      <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_2.jpg" alt="Image Before">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Image Before</figcaption>
    </div>
    <div>
      <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_3.jpg" alt="Image After">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Image After</figcaption>
    </div>
    </figure>

    <div class="dark:bg-gray-900 text-center">
      <a type="button" href="/tools/negative" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 mt-4">Use Image Negative Tool</a>
    </div>

    <h5 class="text-xl font-bold dark:text-white mt-8">2. Log Transformation : </h5>
    <p class="my-3 text-gray-500 dark:text-white">
      For an image log transformation is defined as below :
    </p>
    <p class="my-3 text-gray-900 dark:text-white dark:text-white text-center">
      s = c*log( 1+ r)
    </p>
    <p class="my-3 text-gray-500 dark:text-white">
      where c is constant , generally we take
    </p>
    <p class="my-3 text-gray-900 dark:text-white dark:text-white text-center">
      c = (L - 1)/log(1 + MAX - V AL)
    </p>
    <p class="my-3 text-gray-500 dark:text-white">
      because for this value of c output lies between 0 to L - 1 ,means all intensities covered by output,
      hence range of intensity is covered by output hence range of intensity is covered optimally
    </p>

    <figure class="max-w-lg mx-auto">
      <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_1.jpeg" alt="Log Transformation">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Log Transformation ( source : theailearner.com )</figcaption>
    </figure>

    <p class="my-3 text-gray-500 dark:text-gray-400">
      In graph you can see that narrow range of lower intensity is extended to wider range and wider
      range of higher intensity is compressed into narrow range.So images which have majorly lower
      intensity should be given as input
    </p>

    <figure class="max-w-lg mx-auto flex flex-row gap-4">
      <div>
      <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_5.jpg" alt="Image Before">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Image Before</figcaption>
    </div>
    <div>
      <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_6.jpg" alt="Image After">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Image After</figcaption>
    </div>
    </figure>

    <p class="my-3 text-gray-500 dark:text-gray-400">
      In the above example you can see how log transformation has done mind blowing work.
    </p>

    <div class="dark:bg-gray-900 text-center">
      <a type="button" href="/tools/logtransformation" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 mt-4">Use Log Transformation Tool</a>
    </div>

    <h5 class="text-xl font-bold dark:text-white mt-8">3. Power Law Transformation / Gamma Transformation :</h5>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      power law transformation or gamma transformation can be define as below
    </p>
    <p class="my-3 text-gray-900 dark:text-white dark:text-white text-center">
      s = cr<sup>r</sup>
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      Where c and τ are constant.
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      Generally <span class="dark:text-white">c =(L-1)</span> , because we want to use range of intensity optimally.
    </p>

    <figure class="max-w-lg mx-auto mt-8">
      <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_29.png" alt="">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">( source : researchgate.net )</figcaption>
    </figure>

    <p class="my-3 text-gray-500 dark:text-gray-400">
      From the above graph you can see that for τ < 1 function behaves similarly as log transformation and for τ> 1
        behaves exactly opposite .
    </p>
    <figure class="max-w-xs mx-auto">
      <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_8.jpg" alt="Gamma Transformation example">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Original Image</figcaption>
    </figure>

    <figure class="max-w-xl mx-auto flex flex-row gap-4 mt-4">
    <div>
      <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_9.jpg" alt="Image After">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Gamma = 2</figcaption>
    </div>
    <div>
      <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_10.jpg" alt="Image After">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Gamma = 0.4</figcaption>
    </div>
    </figure>

    <div class="dark:bg-gray-900 text-center">
      <a type="button" href="/tools/gammatransformation" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 mt-4">Use Gamma Transformation Tool</a>
    </div>

    <h5 class="text-xl font-bold dark:text-white mt-8" id="histogram">Histogram Equalization :</h5>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      By this process we try to make histogram of image to be flat so that contrast can be enhanced.
    </p>
    <figure class="max-w-lg mx-auto">
      <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_12.jpg" alt="">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Graph</figcaption>
    </figure>

    <p class="my-3 text-gray-500 dark:text-gray-400">
      We can see histogram equalization in above image but this is ideal equalization in real life one
can hardly get almost flat histogram.
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      Here is method of equalizing histogram :
    </p>

    <figure class="max-w-lg mx-auto">
      <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_15.jpeg" alt="">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Original Image Histogram</figcaption>
    </figure>

    <figure class="max-w-lg mx-auto mt-8">
      <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_16.png" alt="">
    </figure>
    <figure class="max-w-lg mx-auto mt-8">
      <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_17.png" alt="">
    </figure>

    <figure class="max-w-lg mx-auto mt-8">
      <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_18.png" alt="">
      <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Equalized Image Histogram</figcaption>
    </figure>

    <p class="my-3 text-gray-500 dark:text-gray-400">
      Here is an example of Histogram Equalization :
    </p>

    <figure class="max-w-xl mx-auto flex flex-row gap-4 my-4">
      <div>
        <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_19.webp" alt="Image After">
        <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Original Image</figcaption>
      </div>
      <div>
        <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_20.webp" alt="Image After">
        <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Equalized Image</figcaption>
      </div>
      </figure>


    <figure class="max-w-xl mx-auto flex flex-row gap-4 my-4">
      <div>
        <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_21.png" alt="Image After">
        <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Original Image Histogram</figcaption>
      </div>
      <div>
        <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_22.png" alt="Image After">
        <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Equalized Image Histogram</figcaption>
      </div>
      </figure>

      <div class="dark:bg-gray-900 text-center">
        <a type="button" href="/tools/histogramequalization" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 mt-4">Use Histogram Equalization Tool</a>
      </div>
 
    
    <h4 class="text-2xl font-bold dark:text-white mt-5" id="smoothing">Smoothing :</h4>
<p class="my-3 text-gray-500 dark:text-gray-400">
  Smoothing is used to make images less pixelated or to lessen noise. Although low-pass filters are
the foundation of the majority of smoothing techniques, we can also smooth an image by using
the average or median value of a group of pixels (a kernel) that moves across the image.
</p>
<h3 class="text-3xl font-bold dark:text-white mt-8">Blur :</h3>
<p class="my-3 text-gray-500 dark:text-gray-400">
  If a blurred image is carefully examined, a we found out that the image is smooth, which means
that edges are not visible. Low pass filters are used to blur images because they let low frequency
waves in while blocking out high frequency ones. Frequency in this context refers to pixel value
changes. Since the blurred image is smooth around the edges, high frequency should be filtered
out.
</p>
<p class="my-3 text-gray-500 dark:text-gray-400">
  Because a pixel value needs to be close to its neighbour value in order to blur an image, a filter
with every call having value 1 is used for this purpose.
</p>
<p class="my-3 text-gray-500 dark:text-gray-400">
  Since the goal is to reduce contrast, the filter divides the value of each pixel by 9 to maintain
  normalisation.
</p>

<h5 class="text-xl font-bold dark:text-white mt-8">Gaussian Blur :</h5>
<p class="my-3 text-gray-500 dark:text-gray-400">
  This filter gives different weight to each entries in matrix as entries in kernel. The closer pixel to
the selected pixel has greater weight while the further pixel has lower weight.
</p>
<p class="my-3 text-gray-500 dark:text-gray-400">
  In actual use, the Gaussian function is estimated using an odd-sized kernel, each of whose entries
represents the estimation of the Gaussian function at that particular pixel. Moreover, this kernel
cannot be sufficiently large because the further pixel give smaller contribution to the value of
kernel. Often, we ignore the σ and just give it to the program to determine the suitable value for
the given size kernel. For example, the approximation of 3 x 3 Gaussian kernel is
</p>
<figure class="max-w-lg mx-auto">
  <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_4.jpg" alt="Matrix">
</figure>


<figure class="max-w-xl mx-auto flex flex-row gap-4 mt-4">
  <div>
    <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_14.jpg" alt="Original Image">
    <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Original Image</figcaption>
  </div>
  <div>
    <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_13.jpg" alt="blurred Image">
    <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Gaussian Blurred Image</figcaption>
  </div>
  </figure>

  <div class="dark:bg-gray-900 text-center">
    <a type="button" href="/tools/applykernel" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 mt-4">Apply Gaussian Blur</a>
  </div>


<h5 class="text-xl font-bold dark:text-white mt-8">Box Blur :</h5>
<p class="my-3 text-gray-500 dark:text-gray-400">
  This filter substitutes the central pixel with the kernel’s average of the pixels. This kernel’s
components are all same and add up to 1. There must be an odd size kernel. So, if the dimension
of the kernel matrix is a x b, then the box filter kernel is
</p>
<figure class="max-w-lg mx-auto">
  <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_7.jpg" alt="Matrix">
</figure>
<p class="my-3 text-gray-500 dark:text-gray-400">
  Order of this matrix should be odd. The sum of all the elements should be 1.
</p>
<p class="my-3 text-gray-500 dark:text-gray-400">
  All the elements should be same. It is a 3x3 mask, therefore it has 9 cells. By dividing each value
by 9, the requirement that the element sums of all the elements must equal 1 can be achieved.
</p>

<div class="dark:bg-gray-900 text-center">
  <a type="button" href="/tools/applykernel" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 mt-4">Apply Box Blur</a>
</div>


<h4 class="text-2xl font-bold dark:text-white mt-5" id="sharpening">Sharpening :</h4>
<p class="my-3 text-gray-500 dark:text-gray-400">
  In image processing, sharpening refers to a technique used to enhance the details and edges in an
image, making it appear more visually clear. It is usually used to improve the overall quality and
impact of images.
</p>
<p class="my-3 text-gray-500 dark:text-gray-400">
  The process of sharpening involves emphasizing the high-frequency components in an image,
which correspond to the edges and fine details. The basic idea is to enhance the contrast between
adjacent pixels along the edges, making them more different.
</p>
<p class="my-3 text-gray-500 dark:text-gray-400">
  Here’s a step-by-step explanation of the sharpening process in image processing.
</p>
<p class="my-3 text-gray-500 dark:text-gray-400">
  We have to convert the image to grayscale if it’s not already in that format. This step simplifies
the sharpening process as it focuses on the brightness values of the image.
</p>
<p class="my-3 text-gray-500 dark:text-gray-400">
  A sharpening kernel is a filter that is applied to the image. It defines how the pixel values in the
image will be modified to achieve the sharpening effect. The kernel typically has negative values
at its centre, surrounded by positive values. The negative centre value enhances the edges and
details, while the positive values blend the surrounding pixels to create a smooth transition.
</p>
<figure class="max-w-lg mx-auto">
  <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_11.png" alt="Matrix">
</figure>
<p class="my-3 text-gray-500 dark:text-gray-400">
  Apply the sharpening kernel to the grayscale image. This process involves convolving the kernel
with each pixel in the image to calculate the new pixel values. The convolution operation calculates
the weighted sum of the kernel values and the corresponding pixel values.
</p>
<p class="my-3 text-gray-500 dark:text-gray-400">
  The resulting sharpened image may have amplified noise and artifacts due to the high-frequency
emphasis. To less these effects, you can adjust the pixel values. Techniques such as clipping the
pixel values to a specific range, applying a threshold, or using noise reduction algorithms can be
employed to improve the image quality.
</p>
<p class="my-3 text-gray-500 dark:text-gray-400">
  The process of sharpening involves increasing the contrast around edges, which makes them ap-
pear more pronounced.
</p>

<div class="dark:bg-gray-900 text-center">
  <a type="button" href="/tools/applykernel" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 mt-4">Apply Sharpening</a>
</div>

<h5 class="text-xl font-bold dark:text-white mt-8">Laplacian Sharpening :</h5>
<p class="my-3 text-gray-500 dark:text-gray-400">
  We can also use Laplacian filter to sharpen the edges of an image. Which has already discussed
in Laplacian filter in edge detection. So, to get more detail you can check Laplacian Filter topic
covered in Edge detection.
</p>


    <h3 class="text-3xl font-bold dark:text-white mt-8" id="frequency_domain">Frequency Domain</h3>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      In spatial domain we deal with images directly .but in frequency domain we deal with rate at
      which the pixel values are changing in spatial domain.
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      Here,we first convert image in frequency domain then we perform operation on it and convert
      result into spatial domain .
    </p>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      There are many method to convert image in frequency domain like Fourier series ,Fourier transformation ,Laplace
      transformation , Z transformation but here we will see about Fourier transformation only.
    </p>

    <h5 class="text-xl font-bold dark:text-white mt-8">Fourier Transformation :</h5>
    <p class="my-3 text-gray-500 dark:text-gray-400">
      According to Fourier transformation any non periodic signals whose area under the curve is finite
can be represented as integrals of the sines and cosines .after being multiplied by a certain weight
    </p>

    <h6 class="text-md font-bold dark:text-white mt-3">Discrete Fourier Transform ( DFT ) :</h6>
    <figure class="max-w-lg mx-auto">
      <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_23.gif" alt="Formula">
      <p class="my-3 text-gray-900 dark:text-white text-center">
      p = 0 ... M - 1
      </p>
      <p class="my-3 text-gray-900 dark:text-white text-center">
      q = 0 ... N - 1
      </p>
    </figure>
    <p class="my-3 text-gray-500 dark:text-gray-400">
     p and q are frequencies along m and n, respectively
    </p>

    <h6 class="text-md font-bold dark:text-white mt-3">Inverse Discrete Fourier Transform ( IDFT ) :</h6>
    <figure class="max-w-lg mx-auto">
      <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_24.gif" alt="Formula">
      <p class="my-3 text-gray-900 dark:text-white text-center">
        m = 0 ... M - 1
        </p>
      <p class="my-3 text-gray-900 dark:text-white text-center">
        n = 0 ... N - 1
        </p>
    </figure>

    <p class="my-3 text-gray-500 dark:text-gray-400">
      Here is an example of conversion of image from spatial domain to frequency domain using fourier transform
    </p>

    <figure class="max-w-xl mx-auto flex flex-row gap-4 my-8">
      <div>
        <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_28.jpg" alt="">
        <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Image in Spatial Domain</figcaption>
      </div>
      <div>
        <img loading="lazy" class="rounded-lg border mx-auto" src="/static/learn/enhancement_27.png" alt="">
        <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Image in Frequency Domain</figcaption>
      </div>
      </figure>

      <h5 class="text-xl font-bold dark:text-white mt-8">Filters in Frequency Domain :</h5>

<p class="my-3 text-gray-500 dark:text-gray-400">
  In frequency domain there are certain type of filters like
</p>

<ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
  <li>
    Low Pass Filter
  </li>
  <li>
    High Pass Filter
  </li>
  <li>
    Gaussian Low Pass Filter
  </li>
  <li>
    Gaussian High Pass Filter
  </li>
</ol>


<h5 class="text-xl font-bold dark:text-white mt-8">Law Pass Filter :</h5>
<!-- Image -->
<p class="my-3 text-gray-500 dark:text-gray-400">
  Low frequency part contains smooth part and high frequency part contains sharp edges .So by
applying low pass filter the images gets blurred .
</p>

<figure class="max-w-xl mx-auto">
  <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_25.png" alt="">
  <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Process for apply low pass filter</figcaption>
</figure>
<p class="my-3 text-gray-500 dark:text-gray-400">
  In the above picture, you can see that result image is blurred.
</p>

<div class="dark:bg-gray-900 text-center">
  <a type="button" href="/tools/lowpassfilter" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 mt-4">Apply Low filter</a>
</div>

<h5 class="text-xl font-bold dark:text-white mt-8">High Pass Filter :</h5>
<!-- image -->
<p class="my-3 text-gray-500 dark:text-gray-400">
  High pass filter remove smooth or constant intensity part so we get only edges.
</p>

<figure class="max-w-xl mx-auto">
  <img loading="lazy" class="h-auto max-w-full rounded-lg mx-auto border" src="/static/learn/enhancement_26.png" alt="">
  <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Process for apply high pass filter</figcaption>
</figure>
<p class="my-3 text-gray-500 dark:text-gray-400">
  In the above picture, you can see that result image has only edges & smooth part is removed.
</p>

<div class="dark:bg-gray-900 text-center">
  <a type="button" href="/tools/highpassfilter" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 mt-4">Apply High filter</a>
</div>

<h5 class="text-xl font-bold dark:text-white mt-8">Gaussian Filter :</h5>
<p class="my-3 text-gray-500 dark:text-gray-400">
  In spatial domain we have to perform operation on every pixel to apply gaussian filter but here
  we have to convert gaussian filter in frequency domain an multiply with image to get output here
  is an example of gaussian smoothing filter in frequency domain .
</p>

<!-- Image -->
  </div>
</section>

{% endblock content %}