{% extends 'learn/template.html' %}

{% block title %}
  Introduction
{% endblock title %}  

{% block content %}
  
<section class="bg-white dark:bg-gray-900">
  <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-6">
      
    <h2 class="text-4xl font-extrabold dark:text-white">Introduction</h2>

    

    
<p class="my-3 text-gray-500 dark:text-gray-400">Digital image processing, also known as DIP, is a specialized area within computer science focused on utilizing digital computers to manipulate digital images.
  It involves various techniques and algorithms to enhance, modify, or extract information from digital images. 
  </p>

  <figure class="max-w-lg mx-auto my-4">
    <img class="h-auto max-w-full rounded-lg border" src="/static/learn/introduction_1.jpg" alt="Introduction">
    <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Digital Image Processing</figcaption>
  </figure>

  <p class="my-3 text-gray-500 dark:text-gray-400">
  
  Digital image processing is a powerful tool that can be used to improve the quality, analyze, and understand images. It is a rapidly growing field with many new applications being developed all the time.
  Digital image processing is widely used in many fields, including medicine, astronomy, remote sensing, robotics, surveillance, and entertainment.
  </p>

<p class="my-3 text-gray-500 dark:text-gray-400 mb-3">
  In our project we mainly focused on various image processing techniques, image encryption with chaotic functions and DNA encoding, image steganography.
  Here are the list of topics of digital image processing that we have explored.
</p>
    

  </div>
</section>

{% endblock content %}