{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block body %}
<div class="dark:bg-gray-900">
<button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar"
  aria-controls="sidebar-multi-level-sidebar" type="button"
  class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
    </path>
  </svg>
</button>
</div>

<aside id="sidebar-multi-level-sidebar"  class="{{ 'dark' if session.get('theme') == 'dark' }}
  fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li class="hidden sm:flex sm:mb-5">
        <a href="/" class="flex items-center">
          <img loading="lazy" src="/static/daiictlogo.jpg" class="h-10 mr-3" alt="daiict Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">DAIICT</span>
        </a>
      </li>
      <li>
        <a href="/learn/introduction"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="flex-1 ml-3 whitespace-nowrap">1. Introduction</span>
        </a>
      </li>
      <li>
        <a href="/learn/whatisimage"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">

          <span class="flex-1 ml-3 whitespace-nowrap">2. What is an Image ?</span>
        </a>
      </li>
      <li>
        <button type="button"
          class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          aria-controls="transformation" data-collapse-toggle="transformation">

          <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>3. Image Transformation</span>
          <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <ul id="transformation" class="hidden py-2 space-y-2">
          <li>
            <a href="/learn/transformation#translation"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">3.1
              Translation</a>
          </li>
          <li>
            <a href="/learn/transformation#scaling"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">3.2
              Scaling</a>
          </li>
          <li>
            <a href="/learn/transformation#rotation"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">3.3
              Rotation</a>
          </li>
          <li>
            <a href="/learn/transformation#reflection"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">3.4
              Reflection</a>
          </li>
          <li>
            <a href="/learn/transformation#shearing"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">3.5
              Shearing</a>
          </li>
        </ul>
      </li>
      <li>
        <button type="button"
          class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          aria-controls="enhancement" data-collapse-toggle="enhancement">

          <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>4. Enhancement</span>
          <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <ul id="enhancement" class="hidden py-2 space-y-2">
          <li>
            <a href="/learn/enhancement"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">4.1
              Introduction</a>
          </li>
          <li>
            <button type="button"
          class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          aria-controls="spacial" data-collapse-toggle="spacial">

          <span class="flex-1 text-left whitespace-nowrap" sidebar-toggle-item>4.2 Spatial Domain</span>
          <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <ul id="spacial" class="hidden py-2 ml-3 space-y-2">
          <li>
            <a href="/learn/enhancement#spacial_domain"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">4.2.1 Introduction</a>
          </li>
          <li>
            <a href="/learn/enhancement#intensity_transformation"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">4.2.2 Intensity Transformation</a>
          </li>
          <li>
            <a href="/learn/enhancement#histogram"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">4.2.3 Histogram Equalization</a>
          </li>
          <li>
            <a href="/learn/enhancement#smoothing"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">4.2.4 Smoothing & Sharpening</a>
          </li>
        </ul>
          </li>
          <li>
            <a href="/learn/enhancement#frequency_domain"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">4.3
              Frequency Domain</a>
          </li>
        </ul>
      </li>
      <li>
        <button type="button"
          class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          aria-controls="noisereduction" data-collapse-toggle="noisereduction">

          <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>5. Noise Reduction</span>
          <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <ul id="noisereduction" class="hidden py-2 space-y-2">
          <li>
            <a href="/learn/noisereduction#typesofnoises"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">5.1
              Types of Noises</a>
          </li>
          <li>
            <button type="button"
          class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          aria-controls="filters" data-collapse-toggle="filters">

          <span class="flex-1 text-left whitespace-nowrap" sidebar-toggle-item>5.2 Filters</span>
          <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <ul id="filters" class="hidden py-2 ml-3 space-y-2">
          <li>
            <a href="/learn/noisereduction#gaussianfilter"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">5.2.1 Gaussian Filter</a>
          </li>
          <li>
            <a href="/learn/noisereduction#medianfilter"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">5.2.2 Median Filter</a>
          </li>
          <li>
            <a href="/learn/noisereduction#meanfilter"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">5.2.3 Mean Filter</a>
          </li>
          <li>
            <a href="/learn/noisereduction#minfilter"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">5.2.4 Min Filter</a>
          </li>
          <li>
            <a href="/learn/noisereduction#maxfilter"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">5.2.5 Max Filter</a>
          </li>
        </ul>
          </li>
        </ul>
      </li>
      <li>
        <button type="button"
          class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          aria-controls="edgedetection" data-collapse-toggle="edgedetection">

          <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>6. Edge Detection</span>
          <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <ul id="edgedetection" class="hidden py-2 space-y-2">
          <li>
            <a href="/learn/edgedetection#perwitfilter"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">6.1 Perwit Filter</a>
          </li>
          <li>
            <a href="/learn/edgedetection#sobelfilter"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">6.2 Sobel Filter</a>
          </li>
          <li>
            <a href="/learn/edgedetection#cannyedgedetector"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">6.3 Canny Edge Detector</a>
          </li>
          
        </ul>
      </li>
      <li>
        <a href="/learn/embossing"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">

          <span class="flex-1 ml-3 whitespace-nowrap">7. Image Embossing</span>
        </a>
      </li>
      <li>
        <a href="/learn/steganography"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">

          <span class="flex-1 ml-3 whitespace-nowrap">8. Image Steganography</span>
        </a>
      </li>
      <li>
        <a href="/learn/encryption"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">

          <span class="flex-1 ml-3 whitespace-nowrap">9. Image Encryption</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<div class="p-4 sm:ml-64 dark:bg-gray-900 min-h-screen">


<div class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
  <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
  <span class="sr-only">Info</span>
  <div>
    Our Report on Digital Image Processing is <a href="https://bit.ly/dm_report_2023" target="_blank" class="font-semibold underline hover:no-underline">Here</a>.
  </div>
</div>
{% block content %}

{% endblock content %}
</div>
<script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock body %}

{% block script %}
  
{% endblock script %}