{% extends 'base.html' %}

{% block title %}
About Us
{% endblock title %}

{% block style %}
  <style>
    @media (min-width: 1024px) {
      .lg\:justify-center{
        justify-content: center ;
      }
    }
  </style>
{% endblock style %}

{% block body %}

<section class="bg-white dark:bg-gray-900">
  <div class="py-4 px-4 mx-auto max-w-screen-xl text-center lg:py-16">

    <h3 class="text-3xl font-bold dark:text-white mb-4">About Our Project</h3>
    <p class="text-gray-500 dark:text-gray-400">This Project is based on Digital Image Processing & Image Encryption
      using chaotic functions and DNA Encoding. Since Digital Image Processing is a vast field, we explored many topics
      and techniques to modify given images. From basics of Image to Image Encryption Algorithm, we explored Many
      things. We created learn section such that anyone can learn this techniques and to apply them we created tools
      section. All thanks to Pro. Manish Gupta, Pro. Prosenjit Kundu & Pro. Manoj Raut</p>
  </div>

  <hr class="my-4 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4 w-full max-w-screen-xl" />

  <div class="px-4 mx-auto max-w-screen-xl text-center lg:py-8">

    <h3 class="text-3xl font-bold dark:text-white mb-4">About Us</h3>
    <div class="dark:bg-gary-900 max-w-xl mx-auto mt-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="flex justify-between">
          <img class="w-20 h-20 border rounded mr-2" src="/static/user_1.jpeg" alt="">
          <div class="flex flex-col gap-2 items-center justify-center">
            <h6 class="text-lg font-bold dark:text-white">Devang Vaghani</h6>
            <p class="text-gray-500 dark:text-gray-400">202201208</p>
          </div>
        </div>
        <div class="flex justify-between">
          <img class="w-20 h-20 border rounded mr-2" src="/static/user_2.jpeg" alt="">
          <div class="flex flex-col gap-2 items-center justify-center">
            <h6 class="text-lg font-bold dark:text-white">Ishan Savaliya</h6>
            <p class="text-gray-500 dark:text-gray-400">202201087</p>
          </div>
        </div>
        <div class="flex justify-between">
          <img class="w-20 h-20 border rounded mr-2" src="/static/user_3.jpg" alt="">
          <div class="flex flex-col gap-2 items-center justify-center">
            <h6 class="text-lg font-bold dark:text-white">Krushang Kanakad</h6>
            <p class="text-gray-500 dark:text-gray-400">202201350</p>
          </div>
        </div>
        <div class="flex justify-between">
          <img class="w-20 h-20 border rounded mr-2" src="/static/user_4.jpeg" alt="">
          <div class="flex flex-col gap-2 items-center justify-center">
            <h6 class="text-lg font-bold dark:text-white">Mitul Sudani</h6>
            <p class="text-gray-500 dark:text-gray-400">202201244</p>
          </div>
        </div>
        <div class="flex justify-between">
          <img class="w-20 h-20 border rounded" src="/static/user_5.jpeg" alt="">
          <div class="flex flex-col gap-2 items-center justify-center">
            <h6 class="text-lg font-bold dark:text-white">Utsav Kanani</h6>
            <p class="text-gray-500 dark:text-gray-400">202201184</p>
          </div>
        </div>
        <div class="flex justify-between">
          <img class="w-20 h-20 border rounded mr-2" src="/static/user_6.jpeg" alt="">
          <div class="flex flex-col gap-2 items-center justify-center">
            <h6 class="text-lg font-bold dark:text-white">Vidhi Dhanani</h6>
            <p class="text-gray-500 dark:text-gray-400">202201076</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4 w-full max-w-screen-xl" />

  <div class="py-4 px-4 mx-auto max-w-screen-xl text-center lg:py-8">

    <h3 class="text-3xl font-bold dark:text-white mb-4">Our Mentors</h3>
    <div class="dark:bg-gary-900 mt-8">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <a href="https://www.daiict.ac.in/faculty-details/255" target="_blank">
        <div class="flex justify-between lg:justify-center gap-4">
          
            <img class="w-20 h-20 border rounded" src="/static/about/mentor1.jpg" alt="">
            <div class=" flex flex-col gap-2 items-center justify-center">
            <h6 class="text-lg font-bold dark:text-white">Pro. Manish K. Gupta</h6>
          </div>
        </div>
      </a>
      <a href="https://www.daiict.ac.in/faculty-details/258" target="_blank">
      <div class="flex justify-between lg:justify-center gap-4">
          <img class="w-20 h-20 border rounded" src="/static/about/mentor2.jpg" alt="">
            <div class=" flex flex-col gap-2 items-center justify-center">
          <h6 class="text-lg font-bold dark:text-white">Pro. Manoj Raut</h6>
        </div>
      </div>
    </a>
    <a href="https://www.daiict.ac.in/faculty-details/5199" target="_blank">
    <div class="flex justify-between lg:justify-center gap-4">
        <img class="w-20 h-20 border rounded" src="/static/about/mentor3.jpeg" alt="">
        <div class="flex flex-col gap-2 items-center justify-center">
          <h6 class="text-lg font-bold dark:text-white">Pro. Prosenjit Kundu</h6>
        </div>
      </div>
    </a>
  </div>

  </div>
  </div>

</section>

{% endblock body %}