{% extends 'base.html' %}

{% block title %}
Tools
{% endblock title %}

{% block body %}






<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
    <h2 class="text-4xl font-extrabold dark:text-white mb-3">Image Processing Tools</h2>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Apply Image
      Processing Techniques to Your Uploaded Image</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-auto">

    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <a href="#">
        <img class="rounded-t-lg" src="/static/tools/encrypted.jpg" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Image Encryption</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Encrypt your image with password, Share password and image to Receiver, Decrypt image with same password to get Original Image back.</p>
        <a href="/tools/encryption"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Apply on Image
        </a>
      </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/steganography.jpg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Image Steganography</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Hide your secret messsage into an image, Share encoded image to receiver, Decode an image to get secret message</p>
      <a href="/tools/steganography"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image
      </a>
    </div>
    </div>

    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <a href="#">
        <img class="rounded-t-lg" src="/static/tools/kernel.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Apply Kernel</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Take a cup of Tea, Play with different kernels & see the beauty of Image Processing</p>
        <a href="/tools/applykernel"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Apply on Image
        </a>
      </div>
    </div>

    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <a href="#">
        <img class="rounded-t-lg" src="/static/tools/negative.jpg" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Image Negative</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Get negative image of original image</p>
        <a href="/tools/negative"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Apply on Image
        </a>
      </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/log_transform.jpg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Image Log Transformation</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Apply on Image this only for image having small number of higher intensity pixels.</p>
      <a href="/tools/logtransformation"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image
      </a>
    </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/gamma.jpg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Image Gamma Transformation</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Adjust value of gamma to get desired image</p>
      <a href="/tools/gammatransformation"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image
      </a>
    </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/histogram.jpeg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Histogram Equalization</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Apply on Image this tool for low contrast images</p>
      <a href="/tools/histogramequalization"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image
      </a>
    </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/lowpassfilter.jpg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Low Pass Filter</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Remove high frequency components and gives burred image</p>
      <a href="/tools/lowpassfilter"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image
      </a>
    </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/highpassfilter.jpeg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">High Pass Filter</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Remove low frequency components and gives edges</p>
      <a href="/tools/highpassfilter"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image
      </a>
    </div>
    </div>

    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <a href="#">
        <img class="rounded-t-lg" src="/static/learn/transformation_12.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Image Scaling</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Scale image by your factor</p>
        <a href="/tools/scaling"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Apply on Image
        </a>
      </div>
    </div>

    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <a href="#">
        <img class="rounded-t-lg" src="/static/tools/resize.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Image Resizing</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Resize Image by your given size</p>
        <a href="/tools/resizing"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Apply on Image
        </a>
      </div>
    </div>

    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <a href="#">
        <img class="rounded-t-lg" src="/static/tools/translate.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Translate Image</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Translate Image by Given Pixels</p>
        <a href="/tools/translate"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Apply on Image
        </a>
      </div>
    </div>

    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <a href="#">
        <img class="rounded-t-lg" src="/static/tools/rotate.jpg" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Rotate Image</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Rotate Image by given degree and with given scaling factor</p>
        <a href="/tools/rotate"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Apply on Image
        </a>
      </div>
    </div>

    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <a href="#">
        <img class="rounded-t-lg" src="/static/tools/shear.png" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Shear Image</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Image Shearing with X & Y Shearing</p>
        <a href="/tools/shearing"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Apply on Image
        </a>
      </div>
    </div>

    <div
      class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
      <a href="#">
        <img class="rounded-t-lg" src="/static/tools/flip.jpg" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Flip Image</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Flip Image about X or Y or Both axis</p>
        <a href="/tools/reflecting"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Apply on Image
        </a>
      </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/gaussian.jpg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Gaussian Filter</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">It removes Gaussian noise from the image by bluring the image</p>
      <a href="/tools/gaussianfilter"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image
      </a>
    </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/median.jpg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Median Filter</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">It is effectively removes salt pepper & implusive noise</p>
      <a href="/tools/medianfilter"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image
      </a>
    </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/minfilter.jpg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Min Filter</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">It is Apply on Imageful to remove white impulsive noise</p>
      <a href="/tools/minfilter"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image
      </a>
    </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/maxfilter.jpg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Max Filter</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">It is Apply on Imageful to remove black impulsive noise</p>
      <a href="/tools/maxfilter"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image
      </a>
    </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/canny.jpg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Canny Edge Detector</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Detect edges</p>
      <a href="/tools/cannyedgedetector"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image
      </a>
    </div>
    </div>

    <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
    <a href="#">
      <img class="rounded-t-lg" src="/static/tools/emboss.jpg" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Image Embossing</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">An effect to make a 3D look</p>
      <a href="/tools/embossing"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Apply on Image                 
      </a> 
    </div>
    </div>

    

    

    
  </div>
</section>

{% endblock body %}